{% extends 'base.html' %}
{% block title %}
About Us
{% endblock title %}
{% block about %}
menu-active
{% endblock about %}

{% block body %}
<h2 class="text-center text-danger">About Us</h2>
<h5 style="text-align: center;color:darkblue;">ASWIN A</h5>
<h5 style="text-align: center;color:darkblue;">ANJALI AJU</h5>
<h5 style="text-align: center;color:darkblue;">MEERA SREEKUMAR</h5>
<h5 style="text-align: center;color:darkblue;">PARVATHI BAI M</h5>
<h5 style="text-align: center;color:darkblue;">HRIDYA S ANIL</h5>
<h5 style="text-align: center;color:darkblue;">NANDANA S</h5>
<h5 style="text-align: center;color:darkblue;">ASWATHY A</h5>
{% endblock body %}